---
layout: layout.liquid
title: 11ty Boilerplate
---
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
    </tr>
  </thead>
  <tbody id="BooksBody">
  </tbody>
</table>
